{:kotoba.app/id "cloud.itonami.isic-1200", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibamaupnuvn5vuo6xjwk7q34d5rwxursjvubnrlo6bppon3krtdeu", :kotoba.app/embed-url "ipfs://bafkreibamaupnuvn5vuo6xjwk7q34d5rwxursjvubnrlo6bppon3krtdeu", :published {:archive "https://kotobase.net/ipfs/bafkreibamaupnuvn5vuo6xjwk7q34d5rwxursjvubnrlo6bppon3krtdeu", :size 72798, :put-status 201, :get-status 200, :at "2026-08-15T13:44:00.503Z"}}
